@{include("header.i")}

  <div class="center-column">
  <h1>Michael Heilmann's Arcadia FileSystem</h1>
  <p>
  This is the documentation for Michael  Heilmann's Arcadia FileSystem.
  Arcadia FileSystem provides a portable, maintainable, as well as safe abstraction of file system access.
  Arcadia FileSystem is available at <a href="@{siteAddress}/Arcadia/FileSystem">michaelheilmann.com/Arcadia/FileSystem</a>.
  </p>
  
  <p>Features:</p>
  <ul>
    <li>File handles supporting opening for reading and writing, reading and writing contents, and closing</li>
    <li>File paths, including parsing of native, Windows, and Unix paths, and conversion to native representation</li>
    <li>Creation of regular files, directory files, and temporary files</li>
    <li>Deletion of regular files, directory files, and files of any type</li>
    <li>Existence checks for regular files and directory files, and determination of the file type</li>
    <li>Directory iteration, enumerating the contents of a folder</li>
    <li>Last write time retrieval</li>
    <li>Configuration, save, and working directory retrieval</li>
    <li>Executable path retrieval</li>
    <li>File contents retrieval and setting, based on the <em>existing file</em> and <em>non-existing file</em> policies</li>
    <li>File system implementations for Windows and Linux</li>
  </ul>

@{include("1.files.i")}
@{include("2.further-references.i")}
<h2>Documentation</h2>
@{include("FileSystem/include.content")}

  </div>

@{include("footer.i")}
